.background {
    background-image: url("bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    padding: 0;
    position: relative;
    /* Add other styles as needed */
  }

.search_bar{
    position: absolute;
    top: 25%;
    left:10%;
    background-color: rgba(255, 255, 255, 0.3);  /* Example transparent blue color */
    backdrop-filter: blur(5px);
    width:80%;
    height:45%;
    border-radius: 20px; 
    border: 1px solid;
    border-color:  #EC8607;
}

#myInput {
    border-radius: 8px;
    padding: 5%;
    width: 100%;
    height: 90%;
}

#btn {
    background: #EC8607;
    color: white;
    width:140px ;
    height: 35px;
    border-radius: 12px;
    cursor: pointer;
}

.grid2{
    padding :0% 20% 10% 20% ;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    gap: 0px;
}

#btnn{
    background-color: azure;
    color: #252A3A;
    width:80%;
    height:30px;
    border-radius: 15px;
    cursor: pointer;
}

.styled-checkbox {
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #252A3A;
    outline: none;
    cursor: pointer;
}

.styled-checkbox:checked {
    background-color: #252A3A;
    border-color:#252A3A;
}

@media only screen and (max-width:600px) {
    .background{
        height: 560px;
    }
    .grid1{
        position: relative;
        display: grid;
        padding : 10%;
        grid-template-columns: auto ;
        gap:8%;
        bottom: 4%;

    }
    .search_bar {
        height: 350px;

    }
    input {
        margin-left: 8%;
        padding: 4%;
        width: 80%;
        height: 50%;
    }
    #btn {
        position: relative;
        width:100px ;
        height: 30px;
        align-items: center;
        justify-content: center;
        left: 30%;
    }
    .grid2{
        display: grid;
        grid-template-columns: auto auto ;
        
        gap: 4%;
    }
    #btnn{
        padding:2%;
        margin-bottom: 4%;
    }

  } 
  