.topp{
    margin-left: 4%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap:75% ;
}
#bold{
    margin-left: 5%;
    font-weight: bold;
    font-size:20px;
}
.middlle{
    margin-left: 2%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap:60% ;
    
}

#searchh{
    width: 360px;
    height: 35px;
    background-color:white ;
    color:#A0A0A0 ;
    border-radius: 10px;
    margin: 15px;
    margin-right: 30px;
    padding-left: 15px;
}
#btnnn {
    position: relative;
    top: 15%;
    width:70px;
    height: 40px;
    background-color: #004D40;
    color: white;
    border-radius: 10px;
   
}


.line{
   
    background-color: black;
    width:200%;
    height: 2px;
}

@media only screen and (max-width: 800px) {

    .containner{
        padding-top: 4%;
    }

    .topp{
            margin-left:8%;
            display: grid;
            grid-template-columns: auto auto;
            column-gap:35% ;
        }  
    .middlle{
        margin-left:8%;
            display: grid;
            grid-template-columns: auto auto;
            column-gap:20% ;
        }

    #searchh{
            width: 200px;
            height: 30px;
            margin-right: 32px;
            margin: 20px;
 
        }
    #btnn{
        margin: 15px;
        height: 30px;
    }
  }

@media screen and (min-width: 801px) and (max-width: 1300px) {
.topp{
            margin-left: 20px;
        }
.middlle{
    margin-left: 20px;
        }
#searchh{
            margin-right: 25px;
            width: 260px;
            width: 70%;

        }

        #immg2{
            margin-top: 25px;
            width: 30px;
            }
        
 }