.moood{
    background-color: #F9F9F9;
    padding-bottom: 50px;
}
#immg2{
    margin-top: 25px;
    width: 25px;
    }
 #btn11 {
        position: relative;
        top: 15%;
        width:70px;
        height: 40px;
        background-color: #004D40;
        color: white;
        border-radius: 10px;
       
    }    .titllle1{
        background-color: white;
        width: 70%;
        border-radius: 10px;
        margin-left:12% ;
        display: grid;
        grid-template-columns: auto  auto auto auto;
        column-gap: 10px;
        margin-bottom: 2%;
    }
    .titllle{
        background-color: white;
        width: 70%;
        border-radius: 10px;
        margin-left:12% ;
        display: grid;
        grid-template-columns: auto  auto auto auto;
        column-gap: 10px;
        padding-left:8%;
        margin-bottom: 2%;
    }
#info {
        margin: 15px;
        height: 35px;
        width: 35%;
        box-shadow: #004D40;
    }
.containner{
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    width: 70%;
    padding-left: 8%;
    padding-top: 2%;
    padding-bottom: 3%;
    margin-left: 12%;
    border-radius: 10px;

}

#green{
    color: #004D40;
}
#btn1 {
    position: relative;
    top: 15%;
    width:70px;
    height: 40px;
    background-color: #004D40;
    color: white;
    border-radius: 10px;
  
   
}


#Inputt{
    padding-left: 10px;
    padding: 3px;
    border-radius: 8px;
    width: 60%;
    height:100% ;
    box-shadow: 0 0 2px #004D40; /* Green shadow */
    transition: box-shadow 0.3s ease-in-out; 

}
#but{
    color: white;
    margin-top: 40px;
    border-radius: 8px;
    width: 61%;
    height: 40px;
    box-shadow: 0 0 2px #004D40;
    background-color: #004D40;

}
#white{
    background-color: white;
    height: 35px;
    border-radius: 10px;
   
}
#greenn{
    background-color:#004D40;
    height: 35px;
    border-radius: 10px;
    color: white;
}






@media only screen and (max-width: 800px) {
    .titllle{
        width: 80%;
            height: 60px;
            column-gap: 2%;
            padding-left:1%;
        }
        .titllle1{
            width: 80%;
                height: 60px;
                column-gap: 2%;
             
            }
        #info{
            margin: 22px;
            width: 65%;
            height: 23px;
            
        }
        #btn11{
            margin: 10px;
            height: 30px;
        }
    .containner{
        padding-top: 4%;
    }
 
  
 
    #white{
        background-color: white;
        height: 40px;
        border-radius: 10px;
        
    }
    #greenn{
        background-color:#004D40;
        height: 40px;
        border-radius: 10px;
        color: white;
    }
    
 
}

@media screen and (min-width: 801px) and (max-width: 1300px) {
    #info{
        margin: 22px;
        width:70%;
        height: 23px;
        
    }

    #immg2{
        margin-top: 25px;
        width: 30px;
        }

}