
.text-custom-40 {
    font-size: 20px;
  }
  
  .h-custom-100 {
    height: 65px;
  }

.profile{
    background: #004D40;
    border-radius: 30px;
    margin-bottom: 25px;
}
.image-profile {
    position: relative;
    width: 100px; /* Set the width of the image */
    height: 100px; /* Set the height of the image */
    display: block; /* Ensures the image is treated as a block element */
    margin: 0 auto; /* Center the image horizontally */
    border-radius: 50%;
    z-index:index 1;
    transform: translate(0%, -50%);
    
  }
  .myButton {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(75%, -475%);
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url('/images/assets/Group124.svg');
    background-size: contain;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 1);
}


.full-name{
    color: #FFF;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
transform: translateY(-300%);
left: 50%;
display: flex;
align-items: center;
justify-content: center;
max-height: 50;
margin-bottom: 40px;
}
.informations{
    background-color: #FFF;
    margin-left: 35px;
    margin-right: 35px;
    transform: translate(0px,-100px);
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 40px;
    
    
}
.information{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: 3px solid rgba(0, 77, 64, 0.50); /* Adjust color and thickness as needed */
    margin-bottom: 30px; /* Adjust spacing between sentences */
    padding-bottom: 30px; /* Adjust space between the line and text */
    padding-left: 25px;    
    overflow: auto;
    
}
.infoButton{
    position: absolute;
    left: 65%;
    font-weight: 300;

}
.infoButton:hover{
    text-decoration: underline;
}
.editButton {
    position: absolute;
    left: 80%;
    cursor: pointer;
    width: 18px;
    height: 18px;
    background-image: url('/images/assets/edit.svg');
    background-size: contain;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 1);
}
.logOut {
    position: absolute;
    right: 20%;
    transform: translate(0px,-65px);
    background-size: contain;
    border-radius: 50%;
    background-color:  #800020;
    height: 40px;
    width: 65px;
    color:#fff;
}
.backgroundCustom{
    background-image: url('/images/assets/Group124.svg');
}
.buttonPosition{
    transform: translate(75%, -350%);
}
.informationPhone{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: 3px solid rgba(0, 77, 64, 0.50); /* Adjust color and thickness as needed */
    margin-bottom: 40px; /* Adjust spacing between sentences */
    padding-bottom: 40px; /* Adjust space between the line and text */
    padding-left: 5px;    
    overflow: auto;
    
}
.logOutPhone {
    position: absolute;
    right: 20%;
    background-size: contain;
    border-radius: 50%;
    background-color:  #800020;
    height: 40px;
    width: 65px;
}