.allll{

    padding-bottom: 10px;
}

.topp{
    margin-left: 4%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap:75% ;
}

#inputt{
    padding-left: 8px;
    border-radius: 8px;
    margin-top: 8px;
    width:300px;
    height:35px;
    box-shadow: 0 0 2px #004D40; /* Green shadow */
    transition: box-shadow 0.3s ease-in-out; 

}
#btn111 {
    position: relative;
    top: 15%;
    width:170px;
    height:45px;
    color: white;
    background-color:#004D40;
    border-radius: 10px;
   
}
#btn2 {
    position: relative;
    top: 15%;
    width:120px;
    height: 45px;
    color: white;
    background-color:#004D40;
    border-radius: 10px;
   
}
.middlle{
    margin-left: 4%;    
    display: grid;
    grid-template-columns: auto auto;
    column-gap:60% ;
}
.titllee{
    background-color: white;
    width: 78%;
    border-radius: 10px;
    margin-left:12% ;
    margin-top:3% ;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 15px;
    padding-top:5px;
    padding-left:60px;
    padding-bottom:15px;
    margin-bottom: 2%;
    height: 70px;
}

#btnnn {
    position: relative;
    top: 15%;
    width:70px;
    height: 40px;
    background-color: #004D40;
    color: white;
    border-radius: 10px;
   
}


.line{
   
    background-color: black;
    width:200%;
    height: 2px;
}
#boldd{
    font-weight: bold;
    font-size:20px;
    margin-left: 5%;
}
@media only screen and (max-width: 800px) {
.titllee{
        width: 80%;
        height: 70px;
        column-gap: 2%;
        padding-left:1%;
        margin-left:11%;
        }
    .containner{
        padding-top: 4%;
    }
    #hi{
        margin-left: 8%;
    }
    .topp{
            margin-left:8%;
            display: grid;
            grid-template-columns: auto auto;
            column-gap:35% ;
        }  
    .middlle{
        margin-left:8%;
            display: grid;
            grid-template-columns: auto auto;
            column-gap:20% ;
        }

    #searchh{
            width: 200px;
            height: 30px;
            margin-right: 32px;
            margin: 20px;
 
        }
    #btnn{
        margin: 15px;
        height: 30px;
    }
#btn111{
        height:52px;
        width: 90px;
    
    }
#btn2{
        
        height:35px;
        width: 80px;
        margin-bottom: 15px;
    }
#inputt{
    height:30px;
    width: 90px;
    margin-top: 10px;
   
}
  }

@media screen and (min-width: 801px) and (max-width: 1300px) {
.topp{
            margin-left: 20px;
        }
#hi{
            margin-left: 20px;
        }
.middlle{
    margin-left: 20px;
        }
#searchh{
            margin-right: 25px;
            width: 260px;
            width: 70%;

        }

#immg2{
            margin-top: 25px;
            width: 30px;
            }

.titlle{
  width:78%;
  height: 70px;
  column-gap: 2%; 
  padding-left:1%;
  margin-left:100px;
 }
        
 }